.body {
  background-image: url(img/glaciar.jpg);
  background-position: 100%;
}
.container-titulo {
  display: flex;
  justify-content: center;
}
#titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 5px 5px rgba(13, 136, 224, 0.7);
  text-align: center;
  border: 3px inset rgb(0, 92, 99);
  margin: 2%;
  padding: 5px;
  border-radius: 10px;
  width: 25%;
  /* background-color: white; */
  background-image: linear-gradient(
    to bottom,
    #eeeeee,
    #6fa39f,
    #6a9fa0,
    rgb(86, 133, 130)
  );
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#titulo:hover {
  cursor: pointer;
  /* width: 40%; */
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
}

#conteinerfixed {
  /* background-color: rgba(0, 0, 0, 0.0); */
  /* border: solid rgb(0, 0, 8) 5px; */
  /* border-radius: 10px; */
  position: fixed;
  left: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
}
.imgpengufixed {
  width: 100%;
  height: 100%;
}

.post1 {
  background-color: rgba(3, 75, 117, 0.5);
  border: 5px rgba(0, 0, 0, 0.8) outset;
  color: aliceblue;
}
.parrafo1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
  margin-left : 1rem; 
  font-size: 20px;
}

.containerimg {
  display: flex;
  justify-content: start;
  margin: 0;
  margin-bottom: 1rem;
}
.img {
  margin-left: 15px;
  border: rgba(55, 151, 241, 0.658) 5px outset;
  width: 400px;
}

.pe {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  font-size: 35px;
  text-shadow: rgba(13, 129, 211, 0.7) 0 -2px 5px;
}
.post2 {
  background-color: rgba(3, 75, 117, 0.5);
  border: 5px rgba(0, 0, 0, 0.8) outset;
  color: aliceblue;
}
.post3 {
  background-color: rgba(3, 75, 117, 0.5);
  border: 5px rgba(0, 0, 0, 0.8) outset;
  color: aliceblue;
}
